* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.information {
    display: flex;
    background-color:black;
}

.box1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 60px;
    padding: 0px 15px;
}

.virtual_service {
    display: flex;
    height: 118px;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
}

.title_virtual {
    color: #E45826;
    font-size: 30px;
    font-weight: 700;
    font-family: "Fira Code";
}

.subtitle_virtual {
    display: flex;
    color: #E45826;
    font-weight: 400;
    font-size: 18px;
    font-family: "Fira Code";
}


.title {
    display: flex;
    text-align: center;
}

.virtual_service.-second {
    display: flex;
    height: 118px;
    gap: 10px;
    align-items: center;
    text-transform: lowercase;
}

.separator {
    align-self: center;
    background-color: #E45826;
    margin-right: 10%;
    width: 5px;
    height: 80%;
    border-radius: 10px;
}

.separator.-second {
    background-color: antiquewhite;
    margin-left: 21%;

}

.box2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #E45826;
    border-radius: 20px;
    padding: 0px 5px;
    margin: 0px 60px;
}

.title_virtual.-tree {
    display: flex;
    color: antiquewhite;
    text-align: end;
    font-size: 20px;

}

.icon_virtual_service.-tree {
    padding: 20px;
}