* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1B1A17;
}

.header {
    flex-direction: column;
    height: 185px;
    width: 100%;
    box-shadow: 0px 10px 0px #E45826;

}

.logo_top {
    width: 284px;
    height: 84px;
}

.button {
    padding: 7px 7px;
    width: 300px;
    display: flex;
    cursor: pointer;
    background-color: #E45826;
    border-radius: 10px;
}

.title_btn {
    display: grid;
    justify-content: center;
    text-align: center;
}

.down {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

.acess {
    text-align: right;
    font-family: "Fira Code";
    font-size: 15px;
    text-decoration: none;
    color: #E6D5B8;
}

.acess_1 {
    font-weight: bold;
    font-family: "Fira Code";
    font-size: 30px;
    text-decoration: none;
    color: #E6D5B8;
}

