* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 13px 27px;
    background-color: #1E1E1E;
    border-bottom: 10px solid #E45826;
}

.navigation_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E6D5B8;
    font-family: "Fira Code";
    margin-bottom: 10px;
}

.wrap_option {
    display: flex;
    align-items: center;
    gap: 12px;
}

.wrap_option p {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;

}

.title_account {
   font-size: 16px; 
   font-weight: 400;
}

.subtitle_account {
    font-size: 20px;
    font-weight: 700;
}

.nav_bar {
    display: flex;
    gap: 63px
}

.button_store {
    padding: 0px 20px;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #E45826;
    border-radius: 10px;
    gap: 10px;
    line-height: 150%;
    cursor: pointer;
}

.button_store p {
    display: flex;
    flex-direction: column;
    font-family: "Fira Code";
    text-transform: uppercase;
}

.title_car1 {
    font-size: 30px;
    font-weight: 700;
}

.subtitle_car1 {
    font-size: 20px;
    font-weight: 400;
    text-align: end;
}

.navigation_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_store.-second {
    color: #E6D5B8;
    width: fit-content;
    height: 72px;

}

.title_categories {
    font-size: 15px;
    font-weight: 400;
    text-align: end;
}

.subtitle_categories {
    font-size: 30px;
    font-weight: 700;
}

.search-bar {
    height: 36px;
    display: flex;
    background-color: #e6d5b84b;
    border-radius: 5px;
    width: 60%;
}

.search_1 {
    color: #E6D5B8;
    border-radius: 5px;
    height: 36px;
    border: none;
    width: 100%;
    font-family: "Fira Code";
    font-weight: 700;

}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.button_submit {
    background-color: transparent;
    border: none;
}